main{
    position: relative;
    width: calc(100vw/1.05);
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh/1.05);
    margin-top: 10px;
    background: #668663;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: calc(100vh*.025);
}

@media only screen and (max-width: 1000px){  
    body{
        overflow: hidden;
        margin: 0;
    }
    main{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0 5px 0 5px;
    }
}
@media only screen and (max-width: 800px){ 
    main{
        flex-direction: column;
    }
}